<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>HazeOver Icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.joilence.LaunchBar.action.ToggleHazeOver</string>
	<key>CFBundleName</key>
	<string>Toggle HazeOver</string>
	<key>LBAbbreviation</key>
	<string>HO</string>
	<key>LBAssociatedApplication</key>
	<string>com.pointum.hazeover</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Joilence</string>
		<key>LBSummary</key>
		<string>Toggle HazeOver, using icon of HazeOver</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/Joilence/LaunchBar-Actions</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.pointum.hazeover</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
</dict>
</plist>
